li {
    font-size: 20px;
    color: rgb(147, 56, 207);
    text-align: center;
}
button {
    background-color: palegoldenrod;
    font-size: 20px;
}
.header {
    background-color: peachpuff;
    font-size: 65px;
    text-align: center;
}

.bussin {
    text-align:center;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}
.gordon {
    width: 450px;
    height: 450px;
}